<nav class="navbar navbar-expand-lg navbar-dark toppane">
  <a class="navbar-brand" routerLink="/">Football Score Predictor</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/leagues">Leagues<span class="sr-only">(current)</span></a>
    </div>
    <div class="navbar-nav">
        <a class="nav-item nav-link active login" routerLink="/">Login<span class="sr-only"></span></a>
      </div>
   </div>
   <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
      <a class="dropdown-item" routerLink="">My Predictions</a>
      <a class="dropdown-item" (click)="logout()">Log Out</a>
  </div>
</nav>