<nav class="navbar navbar-expand-lg navbar-dark toppane">
  <h1 style="color:white">Football Score Predictor</h1>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav" style="margin-left:50px;">
          <li class="nav-item nav-link active"><a class="nav-link" routerLink="/">Fixtures</a></li>
        </ul>
        |
    <ul class="navbar-nav">
      <li class="nav-item nav-link active"><a class="nav-link" routerLink="/leagues">Leagues</a></li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <ng-template #anonymousUser>
        <li class="nav-item" *ngIf="!(user$ | async)">
          <a class="nav-item nav-link active" routerLink="/login">Login</a>
        </li>
      </ng-template>   
        <div ngbDropdown #myDrop="ngbDropdown" *ngIf="user$ | async as user; else anonymousUser">
            <button class="btn btn-primary" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">
              {{ user.displayName }}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownManual">
              <button ngbDropdownItem routerLink="/myPredictions">My Predictions</button>
              <button ngbDropdownItem (click)="logOut()">Log Out</button>
            </div>
        </div>
    </ul>
  </div>
  
</nav>