<nav class="navbar navbar-expand-lg navbar-dark toppane">
  <a class="navbar-brand" routerLink="/">Football Score Predictor</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item nav-link active"><a class="nav-link" routerLink="/leagues">League Tables</a></li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <ng-template #anonymousUser>
            <li class="nav-item">
              <a class="nav-item nav-link active" routerLink="/login">Login</a>
            </li>
        </ng-template>
        <div *ngIf="appUser; else anonymousUser" ngbDropdown #myDrop="ngbDropdown">
            <button class="btn btn-outline-primary" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Toggle dropdown</button>
            <div ngbDropdownMenu aria-labelledby="dropdownManual">
              <button ngbDropdownItem>My Predictions</button>
              <button ngbDropdownItem>Log Out</button>
            </div>
        </div>
    </ul>
  </div>
  
</nav>