<div class="example-container mat-elevation-z8">
    <select (change)="onChangeLeague($event.target.value)" style="font-weight: bold">
      <option *ngFor="let league of leagues" [value]="league.id" style="font-weight: bold">{{league.name}}</option>
    </select>
    <select (change)="onChangeForm($event.target.value)" style="font-weight: bold">
        <option *ngFor="let formType of formTypes" [value]="formType.id" style="font-weight: bold">{{formType.name}}</option>
    </select>
  <mat-table [dataSource]="listData" matSort>
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let element" style="font-weight: bold"> {{element.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="matchesPlayed">
        <mat-header-cell *matHeaderCellDef mat-sort-header>MP</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.matchesPlayed}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="won">
        <mat-header-cell *matHeaderCellDef mat-sort-header>W</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.won}} </mat-cell>
      </ng-container>      
      <ng-container matColumnDef="drawn">
        <mat-header-cell *matHeaderCellDef mat-sort-header>D</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.drawn}} </mat-cell>
      </ng-container>      
      <ng-container matColumnDef="lost">
        <mat-header-cell *matHeaderCellDef mat-sort-header>L</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lost}} </mat-cell>
      </ng-container>      
      <ng-container matColumnDef="goalsFor">
        <mat-header-cell *matHeaderCellDef mat-sort-header>GD</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.goalDifference}} </mat-cell>
      </ng-container>     
       <ng-container matColumnDef="goalsAgainst">
        <mat-header-cell *matHeaderCellDef mat-sort-header>GF</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.goalsFor}} </mat-cell>
      </ng-container>      
      <ng-container matColumnDef="goalDifference">
        <mat-header-cell *matHeaderCellDef mat-sort-header>GA</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.goalsAgainst}} </mat-cell>
      </ng-container>      
      <ng-container matColumnDef="points">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Pts</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.points}} </mat-cell>
      </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<div class="footer">Football data provided by the Football-Data.org API</div>