.fixtures-container {
    position: relative;
    overflow:auto;
    max-width: 1000px;
    min-height: 100%;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
.fixture-lists{
  overflow:hidden;
}
  .mat-expansion-panel{
    margin-top: 5px;
  }

  .btn{
    height: 28px;
    width: 110px;
    font-size: 12px;
  }

  .button-wrapper{
    text-align:center;
  }

  .mat-form-field{
    float:right;
    margin-right: 10px;
  }

  .input{
    background-color: white;
  }

  .noFixtures{
    margin-top: 200px;
    margin-left: 400px;
  }
.topBar{
  width: 1000px;
  height: 60px;
  background-color:whitesmoke;
  margin-bottom: 10px;
  border-radius: 5px;
}
h3{
  padding-left: 30px;
  padding-top: 10px;
  width: 500px;
  display: inline-block;
}
.flag{
  height: 33px;
  width: 33px;
}