<loading-spinner *ngIf="showSpinner"></loading-spinner>
<div class="fixtures-container">
  <div class="topBar" *ngIf="!showSpinner">
    <h3>Fixtures for {{ todaysDate.toString().substring(0, 15) }}</h3>
      <mat-form-field >
          <input matInput [matDatepicker]="picker" placeholder="Choose a date"
          (dateInput)="repopulateFixtures($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> 
  </div>
 
    <div *ngIf="fixtureListsEmpty && !showSpinner" class="noFixtures"><h3 >No fixtures on this date, try changing date</h3></div>
    
  <ng-container *ngFor="let fixtureList of fixtureLists; let i = index">
      <mat-expansion-panel *ngIf="fixtureList.fixtures.length">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <img class="flag" [src]='"https://cdn2.iconfinder.com/data/icons/world-flag-icons/128/Flag_of_" + fixtureList.country + ".png"'>
              &nbsp;&nbsp;{{fixtureList.fixtures[0].leagueName}}
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <table class="table table-condensed table-bordered">
            <tr *ngFor="let fixture of fixtureLists[i].fixtures; let x = index">
                <td>{{ fixture.dateTime | date:'dd MMM yyyy'}}</td>
                <td>{{ fixture.dateTime | date:'shortTime'}}</td>
                <td>{{ buildFixtureString(fixture.homeTeamName, fixture.awayTeamName)}}</td>
                <td>
                <div class="button-wrapper">
                  <button class="btn btn-primary" [routerLink]="['prediction', fixture.leagueId, fixture.id, fixture.homeTeamId, fixture.awayTeamId]">
                    Get Prediction
                  </button>
                </div>
                </td>
            </tr>
        </table>
      </mat-expansion-panel>
    </ng-container>
</div>